<template>
  <div>
    <h1>Sales</h1>
    <table>
      <tbody>
        <thead><tr><th>Col 1</th><th>Col 2</th></tr></thead>
        <tr
          v-for='row in items'
          :key='row.index'
          >
          <td>{{ row.c1 }}</td>
          <td>{{ row.c2 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data(){
    return {items: []}
  },
  created(){
    const el = this
    axios.get(
      'http://localhost:5000/api/sales/list'
    ).then(function (response){
      el.items = response.data.result
    })
  }
}
</script>
